
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  background-color: #000300;
  font-family: 'Montserrat', Arial, sans-serif;
}

